footer{
  height: auto;
  width: 100%;
  position: fixed;
  border-top: solid 1px gray;
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
}
.icon-label{
  font-size: 15px;
  margin:0;
}
.icon-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active{
  color: #6969ee;
  background-color: #010159;
  border-color: #6969ee;
}

